<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="description"
      content="DIGICHAT is an online chat application that allows user to chat each other Realtime with no data leak issue. Now, it is so easy to keep in touch with friends and loved ones with this online real time chat app."
    />
    <meta
      name="keywords"
      content="papluchat, realtime chat app, theshanumalik, shanu malik, omeagle, chat, online chat, whatsapp chat groups"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- required links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/utilities.css" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>DIGICHAT - Realtime Chat App</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="/">DIGICHAT</a>
          <nav class="logo-nav">
            <a href="/auth/<%- alt -%>" class="a-btn"><%- altText -%></a>
            <button
              id="ham-btn"
              class="fa-solid fa-bars fa-2x btn btn-i"
            ></button>
          </nav>
        </div>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="/auth/<%- alt -%>" class="a-btn"><%- altText -%></a>
            </li>
          </ul>
        </nav>
        <nav class="mobile-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="/auth/<%- alt -%>" class="a-btn"><%- altText -%></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-sec">
      <div class="container">
        <div class="left-section">
          <div class="hero-text">
            <h1>DIGICHAT</h1>
            <P
              >Now it is so easy to keep in touch with friends and loved ones
              with this online real time chat app.</P
            >
            <a href="#about" class="">Learn more</a>
          </div>
        </div>
        <div class="right-section"><%- include(component) -%></div>
      </div>
    </main>
    <script>
      const hamBtn = document.getElementById("ham-btn");
      hamBtn.onclick = function () {
        document.querySelector(".mobile-nav").classList.toggle("show");
      };
    </script>
  </body>
</html>
